*.pt filter=lfs diff=lfs merge=lfs -text
fasttext-en-flair/en-fasttext-news-300d-1M filter=lfs diff=lfs merge=lfs -text
fasttext-en-flair/en-fasttext-news-300d-1M.vectors.npy filter=lfs diff=lfs merge=lfs -text
